Sugar Cosmetics Analysis

In [12]:
# Load the library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# load the csv file
data = pd.read_csv('Sugar_cosmetics_instagram_data.csv')

In [14]:
data.head()

,Post Date,Post Type,Campaign Type,Hashtags,Audience Emotion,Engagement Source,Impressions,Reach,Likes,Comments,Shares,Saves,Profile Visits,Follows
0,2024-12-23,Story,Giveaway,"#SugarCosmetics, #MakeupGoals, #BoldLooks",Curious,Collab,16795,15665,3076,430,73,99,193,86
1,2024-06-01,Image,Tutorial,"#BoldLooks, #MakeupGoals, #VeganBeauty",Confident,Influencer,45131,29335,5285,308,396,502,294,146
2,2024-04-28,Reel,Festive Offer,#VeganBeauty,Confident,Collab,18568,13118,2032,233,73,140,204,44
3,2025-02-01,Reel,Product Launch,"#CrueltyFree, #VeganBeauty, #SugarCosmetics",Happy,Collab,1189,751,130,13,12,7,33,12
4,2024-08-04,Story,Tutorial,"#SugarCosmetics, #VeganBeauty",Curious,Organic,15502,9373,2234,300,99,47,180,35

In [15]:
# check missing values, null values, duplicated, etc.
print("\n Data Info:")
print(data.info())

 Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Post Date          50000 non-null  object
 1   Post Type          50000 non-null  object
 2   Campaign Type      50000 non-null  object
 3   Hashtags           50000 non-null  object
 4   Audience Emotion   50000 non-null  object
 5   Engagement Source  50000 non-null  object
 6   Impressions        50000 non-null  int64
 7   Reach              50000 non-null  int64
 8   Likes              50000 non-null  int64
 9   Comments           50000 non-null  int64
 10  Shares             50000 non-null  int64
 11  Saves              50000 non-null  int64
 12  Profile Visits     50000 non-null  int64
 13  Follows            50000 non-null  int64
dtypes: int64(8), object(6)
memory usage: 5.3+ MB
None

In [16]:
# change the Post Date column to datetime format
data['Post Date'] = pd.to_datetime(data['Post Date'], errors='coerce')
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Post Date          50000 non-null  datetime64[ns]
 1   Post Type          50000 non-null  object
 2   Campaign Type      50000 non-null  object
 3   Hashtags           50000 non-null  object
 4   Audience Emotion   50000 non-null  object
 5   Engagement Source  50000 non-null  object
 6   Impressions        50000 non-null  int64
 7   Reach              50000 non-null  int64
 8   Likes              50000 non-null  int64
 9   Comments           50000 non-null  int64
 10  Shares             50000 non-null  int64
 11  Saves              50000 non-null  int64
 12  Profile Visits     50000 non-null  int64
 13  Follows            50000 non-null  int64
dtypes: datetime64[ns](1), int64(8), object(5)
memory usage: 5.3+ MB
None

In [17]:
print("\n Null values:")
print(data.isnull().sum())

 Null values:
Post Date            0
Post Type            0
Campaign Type        0
Hashtags             0
Audience Emotion     0
Engagement Source    0
Impressions          0
Reach                0
Likes                0
Comments             0
Shares               0
Saves                0
Profile Visits       0
Follows              0
dtype: int64

In [18]:
print("\n Duplicated values:")
print(data.duplicated().sum())

 Duplicated values:

0

In [19]:
data.describe()

,Post Date,Impressions,Reach,Likes,Comments,Shares,Saves,Profile Visits,Follows
count,50000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.00000,50000.000000,50000.000000
mean,2024-10-17 22:51:23.904000512,25520.915000,19748.465760,2954.565580,369.187220,162.306760,177.22878,592.695960,177.334200
min,2024-04-19 00:00:00,1002.000000,616.000000,40.000000,2.000000,0.000000,1.00000,7.000000,0.000000
25%,2024-07-18 00:00:00,13243.000000,10157.750000,1256.000000,135.000000,50.000000,62.00000,252.000000,63.000000
50%,2024-10-18 00:00:00,25541.000000,19393.500000,2466.000000,282.000000,114.000000,132.00000,497.000000,133.000000
75%,2025-01-17 00:00:00,37758.250000,28763.250000,4255.000000,516.000000,228.000000,246.00000,851.000000,245.000000
max,2025-04-19 00:00:00,49999.000000,47329.000000,11392.000000,2205.000000,1072.000000,1057.00000,2264.000000,1114.000000
std,NaN,14118.653466,11311.962456,2144.918922,311.676485,151.722516,154.94933,428.221806,154.550825